################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AI-Model/.vs/AI-Model/FileContentIndex
